@model SistemaBarbearia.ViewModels.Produtos.ProdutoVW
@using SistemaBarbearia.Helper;

@{
    var action = Convert.ToString(ViewBag.Action);
    bool readOnly = Convert.ToBoolean(ViewBag.ReadOnly);
    bool isEdit = action.ToLower() == "edit";
}
@if (action != "create")
{
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @using (Html.BeginForm())
                {
                    @Html.LabelFor(e => e.IdProduto, new { @class = "control-label required" })
                    @Html.TextBoxFor(model => model.IdProduto, new { @class = "form-control col-md-2", readOnly = "readonly" })
                }
            </div>
        </div>
    </div>
}
<div class="row">
    <div class="col-md-8">
        @Html.LabelFor(model => model.dsProduto, htmlAttributes: new { @class = "control-label required" })
        @Html.TextBoxFor(model => model.dsProduto, new { @class = "form-control col-md-12", @maxlength = "50", @style = "text-transform:uppercase", @autofocus = "autofocus", @placeholder = "Nome Produto" })
        @Html.ValidationMessageFor(model => model.dsProduto, "", new { @class = "text-danger" })
    </div>
    <div class="col-md-2">
        @Html.LabelFor(model => model.nrUnidade, htmlAttributes: new { @class = "control-label required" })
        @Html.TextBoxFor(model => model.nrUnidade, new { @class = "form-control col-md-8", maxlength = "50", @autofocus = "autofocus", @placeholder = "UN" })
        @Html.ValidationMessageFor(model => model.nrUnidade, "", new { @class = "text-danger" })
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            @Html.LabelFor(model => model.codBarra, htmlAttributes: new { @class = "control-label required" })
            @Html.TextBoxFor(model => model.codBarra, new { @class = "form-control col-md-8", maxlength = "50", @autofocus = "autofocus", @placeholder = "Codigo de Barra" })
            @Html.ValidationMessageFor(model => model.codBarra, "", new { @class = "text-danger" })
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            @Html.LabelFor(model => model.nrQtd, htmlAttributes: new { @class = "control-label required" })
            @Html.TextBoxFor(model => model.nrQtd, new { @class = "form-control col-md-4", maxlength = "50", @autofocus = "autofocus", @placeholder = "Qtd. Produtos" })
            @Html.ValidationMessageFor(model => model.nrQtd, "", new { @class = "text-danger" })
        </div>
    </div>    
</div>
<div class="row">
    <div class="col-md-4">
        @Html.LabelFor(model => model.vlCompra, htmlAttributes: new { @class = "control-label required" })
        <div class="input-group-append">
            <span class="input-group-text">$</span>
            @Html.TextBoxFor(model => model.vlCompra, new { @class = "form-control col-md-8 text-right", maxlength = "50", @autofocus = "autofocus", @placeholder = "Valor de Compra" })
            @Html.ValidationMessageFor(model => model.vlCompra, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="col-md-4">
        @Html.LabelFor(model => model.vlCusto, htmlAttributes: new { @class = "control-label required" })
        <div class="input-group-append">
            <span class="input-group-text">$</span>
            @Html.TextBoxFor(model => model.vlCusto, new { @readonly = "readonly", @class = "form-control col-md-8 text-right", maxlength = "50", @autofocus = "autofocus", @placeholder = "Valor de Custo" })
            @Html.ValidationMessageFor(model => model.vlCusto, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="col-md-4">
        @Html.LabelFor(model => model.vlVenda, htmlAttributes: new { @class = "control-label required" })
        <div class="input-group-append">
            <span class="input-group-text">$</span>
            @Html.TextBoxFor(model => model.vlVenda, new { @class = "form-control col-md-8 text-right", maxlength = "50", @autofocus = "autofocus", @placeholder = "Valor de venda" })
            @Html.ValidationMessageFor(model => model.vlVenda, "", new { @class = "text-danger" })
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-8">
        <div class="form-group">
            @Html.EditorFor(model => model.fornecedor, "Fornecedores/Select", new { @disabled = readOnly })
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <div class="form-group">
            @Html.EditorFor(model => model.categoria, "Categorias/Select", new { @disabled = readOnly })
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        @Html.LabelFor(model => model.dtCadastro, htmlAttributes: new { @class = "control-label" })
        <div class="input-group-append">
            <div class="input-group-addon input-group-text"><i class="fa fa-calendar"></i></div>
            @Html.TextBoxFor(model => model.dtCadastro, "{0:dd/MM/yyyy}", new { @class = "form-control col-md-6", @placeholder = "Data - Cadastro", @disabled = "disabled" })
            @Html.ValidationMessageFor(model => model.dtCadastro, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="col-md-6">
        @Html.LabelFor(model => model.dtUltAlteracao, htmlAttributes: new { @class = "control-label" })
        <div class="input-group-append">
            <div class="input-group-addon input-group-text"><i class="fa fa-calendar"></i></div>
            @Html.TextBoxFor(model => model.dtUltAlteracao, "{0:dd/MM/yyyy}", new { @class = "form-control col-md-6", @placeholder = "Data Ult. Alteração", @disabled = "disabled" })
            @Html.ValidationMessageFor(model => model.dtUltAlteracao, "", new { @class = "text-danger" })
        </div>
    </div>
</div>
