@model SistemaBarbearia.ViewModels.Categorias.SelectCategoriaVM
@using SistemaBarbearia.Helper;
@{
    bool Disabled = Convert.ToBoolean(ViewData["Disabled"]);
    bool Required = Convert.ToBoolean(ViewData["Required"] ?? true);
    bool OnlySelect = Convert.ToBoolean(ViewData["onlySelect"] ?? true);
    bool LabelVertical = Convert.ToBoolean(ViewData["LabelVertical"]);
    string Label = Convert.ToString(ViewData["Label"] ?? "Categorias");
    string classLabel = Convert.ToString(ViewData["classLabel"] ?? Helper.Input12);
    string classForm = Convert.ToString(ViewData["classForm"] ?? Helper.Input12);
    var Prefix = Html.ClientPrefixName().ToString();
}

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            @Html.Label("", Label)
            <div class="input-group">
                <div class="input-group-btn" style="width:15%">
                    @Html.TextBoxFor(model => model.IdCategoria, new { @style = "border-radius: 4px 0px 0px 4px;", @class = "form-control number", maxLength = "6" })
                </div>
                <div class="input-group-btn" style="width:45%">
                    @Html.TextBoxFor(model => model.dsCategoria, new { @class = "form-control", Disabled = true })
                </div>
                <div class="input-group-btn">
                    <a style="border-radius:0" data-target="#@SistemaBarbearia.Helper.SelectFunctions.getInputId("Modal", Prefix)" id="@SistemaBarbearia.Helper.SelectFunctions.getInputId("btn-localizar", Prefix)" title="Abrir a busca de @Label" class="btn btn-primary" data-toggle="modal"><i class="fa fa-search"></i></a>
                </div>
                @Html.ValidationMessageFor(model => model.IdCategoria, null, new { @class = "text-danger" })
            </div>
        </div>
    </div>
</div>
