@model SistemaBarbearia.ViewModels.Fornecedores.FornecedorVM
@{
    ViewBag.Title = "Editar registro";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.action = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString().ToLower();
    ViewBag.readOnly = false;


}
@using (Html.BeginForm())
{
    @Html.RenderFlashMessage()
    @Html.CustomValidationSummary(true, true, SistemaBarbearia.Helper.AlertMessage.VALIDATION_MESSAGE, new { @class = "alert alert-danger", role = "alert" })
    <div class="container">
        <div class="pull-right col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <ul class="breadcrumb breadcrumb-arrow">
                <li><a href="@Url.Action("Index")"><i class="fa fa-home"></i></a></li>
                <li class="active">Alterar Fornecedor</li>
            </ul>
            <div class="form-horizontal">
                <h6 class="text-right">Campos obrigatório *</h6>
                @Html.Partial("Form", Model)
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button type="submit" class="btn btn-success"><i class="fa fa-save"></i>Salvar</button>
                <a href="@Url.Action("Index")" class="btn btn-secondary" role="button" aria-pressed="true"><i class="fa fa-arrow-left"></i>Voltar</a>
            </div>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/Scripts/Views/Fornecedores/Create.js")


}