@model IEnumerable<SistemaBarbearia.Models.Fornecedores.Fornecedor>
@using SistemaBarbearia.Helper;
@{
    ViewBag.Title = "Fornecedor";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var _action = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    var _controller = ViewContext.Controller.ValueProvider.GetValue("controller").RawValue.ToString();
}
<div class="container">
    <div class="form-group">
        <div class="row">
            <h1 class="container">Consultar Fornecedor</h1>
        </div>
        <a class="btn btn-primary" href="@Url.Action("Create", "Fornecedor" )"><i class="fa fa-plus">Adicionar</i></a>
    </div>

    <table id="listaFornecedor" class="table table-striped table-bordered" style="width:100%">
        <thead class="table-dark">
            <tr>
                <th export="true" style="width:10%">Codigo</th>
                <th export="true" style="width:70%">Fornecedor</th>
                <th export="true" style="width:20%">Celular</th>            
                <th export="true" style="width:20%">Opções</th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-right" style="width:10%;">
                    @Html.DisplayFor(modelItem => item.IdFornecedor)
                </td>
                <td style="width:50%;">
                    @Html.DisplayFor(modelItem => item.nmNome)
                </td>
                <td style="width:20%;">
                    @Html.DisplayFor(modelItem => item.nrCelular)
                </td>
                <td>
                    <a title="Visualizar" class="btn btn-success btn-sm" href="@HttpUtility.UrlDecode(Url.Action("Details", new { id = item.IdFornecedor }))"><i class="fa fa-eye"></i></a>
                    <a title="Editar" class="btn btn-info btn-sm" href="@HttpUtility.UrlDecode(Url.Action("Edit", new { id = item.IdFornecedor }))"><i class="fa fa-pencil-square-o"></i></a>
                    <a title="Excluir" class="btn btn-danger btn-sm" href="@HttpUtility.UrlDecode(Url.Action("Delete", new { id = item.IdFornecedor }))"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
        }
    </table>

</div>

@section Scripts {
    @Scripts.Render("~/Scripts/Views/Fornecedores/Fornecedor.js")
    @Scripts.Render("~/Scripts/jquery.dataTables.min.js")
    @Styles.Render("~/Content/bootstrap.min.css")
    @Styles.Render("~/Content/dataTables.bootstrap4.min.css")
    @Styles.Render("~/Content/bootstrap.css")


    

}