@model SistemaBarbearia.ViewModels.Agendamentos.AgendamentoVW
@using SistemaBarbearia.Helper;
@{
    var action = Convert.ToString(ViewBag.Action);
    bool readOnly = Convert.ToBoolean(ViewBag.ReadOnly);
    //bool isEdit = action.ToLower() == "FinalizarHorario";
    var tam = action == "create" ? 7 : 6;
    ViewBag.Title = "Venda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@Html.HiddenFor(k => k.IdCliente)
@Html.Hidden("flTblProdutos")
@using (Html.BeginForm())
{
    <div class="container">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-selected="true">Serviço</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#perfil" role="tab" aria-selected="false">Produto</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contato" role="tab" aria-selected="false">Finalizar</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                @if (action == "create")
                {
                    <div class="row">
                        @Html.HiddenFor(u => u.idAgenda)
                        <div class="form-row">
                            <div class="@Helper.Input2">
                                @Html.LabelFor(model => model.idAgenda, new { @class = "required" })
                                @Html.TextBoxFor(model => model.idAgenda, new { @class = "form-control", disabled = true })
                            </div>
                        </div>
                    </div>
                }
                @if (action == "create")
                {
                    <div class="row">
                        @Html.HiddenFor(u => u.flSituacao)
                        <div class="form-row">
                            <div class="@Helper.Input2">
                                @Html.LabelFor(model => model.flSituacao, new { @class = "required" })
                                @Html.TextBoxFor(model => model.flSituacao, new { @class = "form-control", disabled = true })
                            </div>
                        </div>
                    </div>
                }
                <div class="form-row">
                    @*<div class="col-sm-2">
                @Html.LabelFor(model => model.VendaServico.nrNota, htmlAttributes: new { @class = "control-label required" })
                @Html.TextBoxFor(model => model.VendaServico.nrNota, new { @class = "form-control number" })
                @Html.ValidationMessageFor(model => model.VendaServico.nrNota, "", new { @class = "text-danger" })
            </div>*@
                    <div class="col-sm-2">
                        @Html.LabelFor(model => model.VendaServico.nrModelo, htmlAttributes: new { @class = "control-label required" })
                        @Html.TextBoxFor(model => model.VendaServico.nrModelo, new { @class = "form-control number", maxlength = "2" })
                        @Html.ValidationMessageFor(model => model.VendaServico.nrModelo, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-sm-2">
                        @Html.LabelFor(model => model.VendaServico.nrSerie, htmlAttributes: new { @class = "control-label required" })
                        @Html.TextBoxFor(model => model.VendaServico.nrSerie, new { @class = "form-control number", maxlength = "1" })
                        @Html.ValidationMessageFor(model => model.VendaServico.nrSerie, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-sm-3">
                        @Html.LabelFor(model => model.dtAgendamento, new { @class = "required" })
                        <div class="input-group-append">
                            <span class="fa fa-calendar input-group-text" style="font-size:23px"></span>
                            @Html.TextBoxFor(model => model.dtAgendamento, "{0:dd/MM/yyyy}", new { @class = "form-control datepicker date" })
                        </div>
                        @Html.ValidationMessageFor(model => model.dtAgendamento, null, new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-sm-10">
                        @Html.EditorFor(model => model.Cliente, "Clientes/Select", new { disabled = true })
                    </div>
                </div>
                <div class="bs-callout bs-callout-primary">

                    <div class="form-row">
                        <div class="form-row">
                            @Html.EditorFor(model => model.Servico, "Servicos/Select", new { disabled = true, flValorServico = "S" })
                        </div>
                    </div>
                </div>
                <div class="bs-callout bs-callout-primary">
                    <div class="form-row">
                        <div class="col-sm-4">
                            @Html.Label("Valor Total Venda", new { @class = "required" })
                            @Html.TextBoxFor(model => model.vlTotalServico, new { @class = "form-control", placeholder = "0,00", style = "text-align: right" })
                        </div>
                        <div class="col-sm-4">
                            @Html.EditorFor(model => model.CondicaoPagamento, "CondPagamento/Select", new { Required = true, Disabled = false, flParcela = "S" })
                        </div>
                    </div>
                    <div class="separador"></div>
                    @Html.HiddenFor(model => model.jsParcelas)
                    <table id="tblParcela" class="table table-striped table-bordered" style="width:100%">
                        <thead class="table-dark">
                            <tr>
                                <th width="15%">Nº parcela</th>
                                <th width="15%">Valor Parcela</th>
                                <th width="10%">Vencimento</th>
                                <th width="5%">ID</th>
                                <th width="50%">Forma de pagamento</th>
                            </tr>
                        </thead>
                    </table>
                </div>

            </div>
            <div class="tab-pane fade" id="perfil" role="tabpanel" aria-labelledby="profile-tab">
                <div class="form-row">
                    @*<div class="col-sm-2">
                            @Html.LabelFor(model => model.VendaProduto.nrNota, htmlAttributes: new { @class = "control-label required" })
                            @Html.TextBoxFor(model => model.VendaProduto.nrNota, new { @class = "form-control number", maxlength = "2" })
                            @Html.ValidationMessageFor(model => model.VendaProduto.nrNota, "", new { @class = "text-danger" })
                        </div>*@
                    <div class="col-sm-2">
                        @Html.LabelFor(model => model.VendaProduto.nrModelo, htmlAttributes: new { @class = "control-label required" })
                        @Html.TextBoxFor(model => model.VendaProduto.nrModelo, new { @class = "form-control number", maxlength = "2" })
                        @Html.ValidationMessageFor(model => model.VendaProduto.nrModelo, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-sm-2">
                        @Html.LabelFor(model => model.VendaProduto.nrSerie, htmlAttributes: new { @class = "control-label required" })
                        @Html.TextBoxFor(model => model.VendaProduto.nrSerie, new { @class = "form-control number", maxlength = "1" })
                        @Html.ValidationMessageFor(model => model.VendaProduto.nrSerie, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-sm-3">
                        @Html.LabelFor(model => model.dtAgendamento, new { @class = "required" })
                        <div class="input-group-append">
                            <span class="fa fa-calendar input-group-text" style="font-size:23px"></span>
                            @Html.TextBoxFor(model => model.dtAgendamento, "{0:dd/MM/yyyy}", new { @class = "form-control datepicker date", })
                        </div>
                        @Html.ValidationMessageFor(model => model.dtAgendamento, null, new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-sm-10">
                        @Html.EditorFor(model => model.Cliente, "Clientes/Select", new { disabled = true })
                    </div>
                </div>
                <div class="bs-callout bs-callout-primary">
                    <div id="divAddProduto">
                        <div class="form-row">
                            @Html.EditorFor(model => model.Produto, "Produtos/SelectVenda", new { Disabled = false, Required = true, flValor = "S", flQuantidade = "S" })
                        </div>
                        <div class="form-row">
                            <button id="addProduto" type="button" class="btn btn-primary"><i class="fa fa-plus"></i> Adicionar</button>
                        </div>
                    </div>
                    @Html.HiddenFor(model => model.jsProdutos)
                    <table id="tblProduto" class="table table-striped table-bordered" style="width:100%">
                        <thead class="table-dark">
                            <tr>
                                @if (action == "create")
                                {
                                    <th width="5%"></th>
                                }
                                <th width="5%"></th>
                                <th width="10%">Id</th>
                                <th width="50%">Produto</th>
                                <th width="10%">Quant.</th>
                                <th width="10%">Vl.Venda</th>
                                <th width="10%">Total</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <td id="ftp" colspan="@tam" style="text-align:right"></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="bs-callout bs-callout-primary">
                    <div class="form-row">
                        <div class="col-sm-4">
                            @Html.Label("Valor Total Venda", new { @class = "required" })
                            @Html.TextBoxFor(model => model.vlTotalProduto, new { @class = "form-control", placeholder = "0,00", style = "text-align: right" })
                        </div>
                        <div class="col-sm-4">
                            @Html.EditorFor(model => model.CondicaoPagamento, "CondPagamento/SelectVendaProduto", new { Required = true, Disabled = false, flParcela = "S" })
                        </div>
                    </div>
                    <div class="separador"></div>
                    @Html.HiddenFor(model => model.jsParcelasProduto)
                    <table id="tblParcelaProduto" class="table table-striped table-bordered" style="width:100%">
                        <thead class="table-dark">
                            <tr>
                                <th width="15%">Nº parcela</th>
                                <th width="15%">Valor Parcela</th>
                                <th width="10%">Vencimento</th>
                                <th width="5%">ID</th>
                                <th width="50%">Forma de pagamento</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="tab-pane fade" id="contato" role="tabpanel" aria-labelledby="contact-tab">
                <div class="col-sm-4">
                    @Html.Label("Valor Total Servico", new { @class = "required" })
                    @Html.TextBoxFor(model => model.TotalServico, new { @class = "form-control", style = "text-align: right" })
                </div>
                <div class="col-sm-4">
                    @Html.Label("Valor Total Produto", new { @class = "required" })
                    @Html.TextBoxFor(model => model.TotalProduto, new { @class = "form-control", style = "text-align: right" })
                </div>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button type="submit" class="btn btn-success"> <i class="fa fa-save"></i>Finalizar</button>
                    <a href="@Url.Action("Index")" class="btn btn-secondary" role="button" aria-pressed="true"> <i class="fa fa-arrow-left"></i> Voltar</a>
                </div>
            </div>

        </div>


    </div>
}
@section Scripts {
    <script type="text/javascript">
        var Action = {
            getParcelas: "@Url.Action("JsGetParcelas", "CondPagamento")",
            getparcelasProduto: "@Url.Action("JsGetParcelasProduto", "CondPagamento")",
            verificarProduto : "@Url.Action("jsVerificarVenda", "Agendamento")"
        }
    </script>
    @Scripts.Render("~/Scripts/Views/Agendamentos/FinalizarHorario.js")

}
