@model SistemaBarbearia.ViewModels.Fornecedores.SelectFornecedorVM
@using SistemaBarbearia.Helper;
@{
    bool Disabled = Convert.ToBoolean(ViewData["Disabled"]);
    bool Required = Convert.ToBoolean(ViewData["Required"] ?? true);
    bool OnlySelect = Convert.ToBoolean(ViewData["onlySelect"] ?? true);
    bool LabelVertical = Convert.ToBoolean(ViewData["LabelVertical"]);
    string Label = Convert.ToString(ViewData["Label"] ?? "Fornecedor");
    string classLabel = Convert.ToString(ViewData["classLabel"] ?? Helper.Input12);
    string classForm = Convert.ToString(ViewData["classForm"] ?? Helper.Input12);
    var Prefix = Html.ClientPrefixName().ToString();
}

@Html.Hidden("isEdit")

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            @Html.Label("", Label)
            <div class="input-group">
                <div class="input-group-btn" style="width:15%">
                    @Html.TextBoxFor(model => model.IdFornecedor, new { @style = "border-radius: 4px 0px 0px 4px;", @class = "form-control number", maxLength = "6" })
                </div>
                <div class="input-group-btn" style="width:45%">
                    @Html.TextBoxFor(model => model.nmNome, new { @class = "form-control", Disabled = true })
                </div>
                <div class="input-group-btn">
                    <a style="border-radius:0" data-target="#@SistemaBarbearia.Helper.SelectFunctions.getInputId("Modal", Prefix)" 
                       id="@SistemaBarbearia.Helper.SelectFunctions.getInputId("btn-localizar", Prefix)" title="Abrir a busca de @Label" class="btn btn-primary" data-toggle="modal"><i class="fa fa-search"></i></a>
                </div>
                @Html.ValidationMessageFor(model => model.IdFornecedor, null, new { @class = "text-danger" })
            </div>
        </div>
    </div>
</div>
<div id="@SistemaBarbearia.Helper.SelectFunctions.getInputId("ModalLista", Prefix)" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body no-padding">
                <div class="panel panel-primary" style="margin-bottom: -1px;">
                    <div class="panel-heading" style="height: 41px; padding-left:2px;font-weight: bold;">
                        <h3 class="panel-title pull-right"><button type="button" style="opacity: inherit;color: #fff;" class="close" data-dismiss="modal">&times;</button></h3>
                        <ul class="nav panel-tabs" style="width:400px">
                            <li class="active"><a data-event="true" style="margin-top:1px;color: black;" data-toggle="tab"><b><i class="fa fa-list-alt" aria-hidden="true"></i>Fornecedor</b></a></li>
                        </ul>
                    </div>

                    @*<div style="text-align:left">
                        <button id="@SistemaBarbearia.Helper.SelectFunctions.getInputId("Create", Prefix)" onclick="OpenModalCreateFornecedor()" type="button" class="btn btn-primary"><i class="fa fa-plus"></i>Adicionar</button>
                    </div>*@

                    <div id="body" class="modal-body" style="padding: 33px 0px 0px 0px;">
                        <div class="container-fluid">
                            <div id="TableFornecedor">

                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <div style="text-align:right">
                            <button id="@SistemaBarbearia.Helper.SelectFunctions.getInputId("Fechar", Prefix)" onclick="FecharModalFornecedor()" type="button" class="btn btn-outline-dark"><i class="fa fa-times"></i>Fechar</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div id="@SistemaBarbearia.Helper.SelectFunctions.getInputId("ModalCreate", Prefix)" class="modal fade" role="dialog">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-body no-padding">
                <div class="panel panel-primary" style="margin-bottom: -1px;">
                    <div class="panel-heading" style="height: 41px; padding-left:2px;font-weight: bold;">
                        <h3 class="panel-title pull-right"><button type="button" style="opacity: inherit;color: #fff;" class="close" data-dismiss="modal">&times;</button></h3>
                        <ul class="nav panel-tabs" style="width:400px">
                            <li class="active"><a data-event="true" style="margin-top:1px;color: black;" data-toggle="tab"><b><i class="fa fa-list-alt" aria-hidden="true"></i> Fornecedor </b></a></li>
                        </ul>
                    </div>
                    <div id="body" class="modal-body" style="padding: 33px 0px 0px 0px;">
                        <div class="container-fluid">


                          

                            
                        </div>
                    </div>

                    <div class="modal-footer">
                        <div style="text-align:right">
                            <button id="@SistemaBarbearia.Helper.SelectFunctions.getInputId("btnSave", Prefix)" type="button" class="btn btn-success"><i class="fa fa-saveFornecedor"></i>  Salvar</button>
                            <button id="@SistemaBarbearia.Helper.SelectFunctions.getInputId("FecharCreate", Prefix)" onclick="FecharModalCreateFornecedor()" type="button" class="btn btn-danger"><i class="fa fa-ban"></i>  Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.AddScriptBlock(
@<script type="text/javascript">

    self = this;
    $(function () {
         $("#@SistemaBarbearia.Helper.SelectFunctions.getInputId("btn-localizar", Prefix)").on("click", function () {
             InitModalFornecedor();
         });

         $('#@SistemaBarbearia.Helper.SelectFunctions.getInputId("btnSave", Prefix)').on('click', function () {
                self.saveFornecedor();
         });

        $('#@SistemaBarbearia.Helper.SelectFunctions.getInputId("IdFornecedor", Prefix)').change(function (data, e) {
            var IdFornecedor = $('#@SistemaBarbearia.Helper.SelectFunctions.getInputId("IdFornecedor", Prefix)').val();
            if (IdFornecedor == "") {
                $("#@SistemaBarbearia.Helper.SelectFunctions.getInputId("IdFornecedor", Prefix)").val("");
                $("#@SistemaBarbearia.Helper.SelectFunctions.getInputId("nmNome", Prefix)").val("");
            } else {
                $.ajax({
                    dataType: 'json',
                    type: 'GET',
                    url: '@Url.Action("JsDetails", "Fornecedor")',
                    data: { 'IdFornecedor': IdFornecedor },
                    success: function (data) {
                        if (!data) {
                            $.notify({ message: 'Nenhum registro encontrado para o código informado', icon: 'fa fa-exclamation' }, { type: 'danger' });
                        }
                        $("#@SistemaBarbearia.Helper.SelectFunctions.getInputId("IdFornecedor", Prefix)").val(data.IdFornecedor);
                        $("#@SistemaBarbearia.Helper.SelectFunctions.getInputId("nmNome", Prefix)").val(data.nmNome);
                    },
                    error: function (err) {
                        alert(err);
                        alert("Erro ao buscar registro");
                    }
                });
            }
        });      
     });

     this.getFormFornecedor = function() {
        var formFornecedor = {
                IdFornecedor : $('#@SistemaBarbearia.Helper.SelectFunctions.getInputId("IdFornecedor", Prefix)'),
                nmNome: $('#@SistemaBarbearia.Helper.SelectFunctions.getInputId("nmNome", Prefix)'),
        }
        return formFornecedor;
    };

    this.clear = function () {
        var formFornecedor = self.getFormFornecedor();
        formFornecedor.IdFornecedor.val("");
        formFornecedor.nmNome.focus();
    };

    this.isValidFornecedor = function () {
        var valid = true;
        var form = self.getFormFornecedor();

        if (IsNullOrEmpty(form.nmNome.val())) {
            form.nmNome.blink({ msg: "Campo Nome é obrigatório" });
            form.nmNome.focus();
            valid = false;
        }
        return valid;
    };

    getModelFornecedor = function (form) {
        var modelFornecedor = {
            IdFornecedor : form.IdFornecedor.val(),
            nmNome: form.nmNome.val(),
           
        }
        return modelFornecedor;
    };

    this.saveFornecedor = function () {
        if ($('#@SistemaBarbearia.Helper.SelectFunctions.getInputId("isEdit", Prefix)').val() == "S") {
            this.updateFornecedor();
        } else {
            this.insertFornecedor();
        }
    }

    this.insertFornecedor = function () {
        var form = self.getFormFornecedor();
        var model = getModelFornecedor(form);

        if (self.isValidFornecedor(model)) {

            $.ajax({
                dataType: 'json',
                type: 'POST',
                url: '@Url.Action("jsInsert", "Fornecedor")',
                data: model,
                success: function (data) {
                    self.clear();
                    InitModalFornecedor();
                    $("#@SistemaBarbearia.Helper.SelectFunctions.getInputId("ModalCreate", Prefix)").modal("hide");
                    $("#@SistemaBarbearia.Helper.SelectFunctions.getInputId("ModalLista", Prefix)").css("overflow", "auto");
                },
                error: function (request) {
                    alert("Erro ao adicionar registro")
                }
            });
        }
    };

    this.updateFornecedor = function () {
        var form = self.getFormFornecedor();
        var model = getModelFornecedor(form);

        if (self.isValidFornecedor(model)) {

            $.ajax({
                dataType: 'json',
                type: 'POST',
                url: '@Url.Action("jsUpdate", "Fornecedor")',
                data: model,
                success: function (data) {
                    console.log(data)
                    self.clear();
                    InitModalFornecedor();
                    $("#@SistemaBarbearia.Helper.SelectFunctions.getInputId("ModalCreate", Prefix)").modal("hide");
                    $("#@SistemaBarbearia.Helper.SelectFunctions.getInputId("ModalLista", Prefix)").css("overflow", "auto");
                    $.notify({ message: data.message, icon: 'fa fa-exclamation' }, { type: 'success', z_index: 2000, });
                },
            });
        }
    };

    function InitModalFornecedor() {
        $("#TableFornecedor").empty();
        let table = null
        let lis = getTableFornecedor();
        $("#TableFornecedor").append(lis);

        table = $('#listaFornecedor').DataTable({
            ajax: { url: $('#listaFornecedor').attr('data-url') },
                lengthMenu: false,
                lengthChange: false,
                language: {
                    url: 'https://cdn.datatables.net/plug-ins/1.10.24/i18n/Portuguese-Brasil.json',
            },
            columns: [
                { data: "IdFornecedor" },
                { data: "nmNome" },
                 {
                    sortable: false,
                    data: null,
                    sClass: 'details-control center',
                    mRender: function (data) {
                        return '<a class="btn btn-primary btn-sm" data-evet="item" title="Selecionar registro"><i class="fa fa-check"></i> </a>';
                    }
                },
                //{
                //    sortable: false,
                //    data: null,
                //    mRender: function (data) {
                //        return '<a class="btn btn-warning btn-sm" onclick="OpenEditFornecedor(' + data.IdFornecedor + ')" title="Alterar registro"><i class="fa fa-edit"></i> </a>';
                //    }
                //},
            ],
        });


        $("#@SistemaBarbearia.Helper.SelectFunctions.getInputId("ModalLista", Prefix)").modal("show");

        $('#lista tbody').on('click', 'td.details-control', function () {
            var tr = $(this).closest('tr');
            var row = table.row(tr);
            if (row.child.isShown()) {
                $('div.slider', row.child()).slideUp(function () {
                    row.child.hide();
                    tr.removeClass('shown');
                });
            }
            else {
                row.child(SelectFornecedor(row.data())).show();
                tr.addClass('shown');
                $('div.slider', row.child()).slideDown();
            }
        });
    }

    function getTableFornecedor() {
        let tmp = `<table id="listaFornecedor" class="table table-striped table-bordered" style="width:100%" data-url="@Url.Action("JsQuery", "Fornecedor")">
                        <thead class="table-dark">
                            <tr>
                                <th export="true" style="width:10%">Código</th>
                                <th export="true" style="width:70%">Fornecedor</th>
                                <th export="true" style="width:10%"></th>
                            </tr>
                        </thead>
                   </table>`;
          return tmp;
    };

    function FecharModalFornecedor() {
        $("#@SistemaBarbearia.Helper.SelectFunctions.getInputId("ModalLista", Prefix)").modal("hide");
    };

    function FecharModalCreateFornecedor() {
        $("#@SistemaBarbearia.Helper.SelectFunctions.getInputId("ModalCreate", Prefix)").css("overflow", "hidden");
        $("#@SistemaBarbearia.Helper.SelectFunctions.getInputId("ModalCreate", Prefix)").modal("hide");
        $("#@SistemaBarbearia.Helper.SelectFunctions.getInputId("ModalLista", Prefix)").css("overflow", "auto");
        self.clear();
    };

    function OpenModalCreateFornecedor() {
        $("#@SistemaBarbearia.Helper.SelectFunctions.getInputId("btnUpdate", Prefix)").hide();
        $("#@SistemaBarbearia.Helper.SelectFunctions.getInputId("ModalLista", Prefix)").css("overflow", "hidden");
        $("#@SistemaBarbearia.Helper.SelectFunctions.getInputId("ModalCreate", Prefix)").css("overflow", "auto");
        $("#@SistemaBarbearia.Helper.SelectFunctions.getInputId("ModalCreate", Prefix)").modal("show");
        $("#@SistemaBarbearia.Helper.SelectFunctions.getInputId("isEdit", Prefix)").val("N");
        if ($("#@SistemaBarbearia.Helper.SelectFunctions.getInputId("isEdit", Prefix)").val() == "N") {
            $(".isEdit").hide();
        }

    };

    function SelectFornecedor(data) {
        $("#@SistemaBarbearia.Helper.SelectFunctions.getInputId("ModalLista", Prefix)").modal("hide");
        $("#@SistemaBarbearia.Helper.SelectFunctions.getInputId("IdFornecedor", Prefix)").val(data.IdFornecedor);
        $("#@SistemaBarbearia.Helper.SelectFunctions.getInputId("nmNome", Prefix)").val(data.nmNome);
        return false;
    };

    function OpenEditFornecedor(IdFornecedor) {
        $.ajax({
            dataType: 'json',
            type: 'GET',
            url: '@Url.Action("JsDetails", "Fornecedor")',
            data: { 'IdFornecedor': IdFornecedor },
            success: function (data) {
                self.clear();
                $("#@SistemaBarbearia.Helper.SelectFunctions.getInputId("ModalCreate", Prefix)").modal("show");
                $("#@SistemaBarbearia.Helper.SelectFunctions.getInputId("isEdit", Prefix)").val("S");
                if ($("#@SistemaBarbearia.Helper.SelectFunctions.getInputId("isEdit", Prefix)").val() == "S") {
                    $(".isEdit").show();
                }
                $("#@SistemaBarbearia.Helper.SelectFunctions.getInputId("IdFornecedor", Prefix)").val(data.IdFornecedor);
                $("#@SistemaBarbearia.Helper.SelectFunctions.getInputId("nmNome", Prefix)").val(data.nmNome);
                $("#@SistemaBarbearia.Helper.SelectFunctions.getInputId("ModalLista", Prefix)").css("overflow", "auto");
            },
            error: function (request) {
                alert("Erro ao buscar registro");
            }
        });
        return false;
    }



</script>

)    