@model SistemaBarbearia.ViewModels.ContasReceber.ContaReceberVW
@using SistemaBarbearia.Helper;
@{
    var action = Convert.ToString(ViewBag.Action);
    bool readOnly = Convert.ToBoolean(ViewBag.ReadOnly);
    bool isEdit = action.ToLower() == "edit";
}

<div class="row">
    <div class="col-md-6">
        <div class="form-group">

            @Html.LabelFor(e => e.flSituacao, new { @class = "control-label required" })
            @Html.DropDownListFor(model => model.flSituacao, SistemaBarbearia.ViewModels.ContasPagar.ContaPagarVM.Situacao, new { @datadrop = "select2", @class = "form-control  col-md-6", @disabled = "disabled" })

        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-2">
        <div class="form-group">
            @Html.LabelFor(model => model.nrModelo, htmlAttributes: new { @class = "control-label required" })
            @Html.TextBoxFor(model => model.nrModelo, new { @class = "form-control", @maxlength = "50", @autofocus = "autofocus", @disabled = "disabled" })
            @Html.ValidationMessageFor(model => model.nrModelo, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="col-sm-2">
        <div class="form-group">
            @Html.LabelFor(model => model.nrSerie, htmlAttributes: new { @class = "control-label required" })
            @Html.TextBoxFor(model => model.nrSerie, new { @class = "form-control", @maxlength = "50", @autofocus = "autofocus", @disabled = "disabled" })
            @Html.ValidationMessageFor(model => model.nrSerie, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="col-sm-2">
        <div class="form-group">
            @Html.LabelFor(model => model.nrNota, htmlAttributes: new { @class = "control-label required" })
            @Html.TextBoxFor(model => model.nrNota, new { @class = "form-control", @maxlength = "50", @autofocus = "autofocus", @disabled = "disabled" })
            @Html.ValidationMessageFor(model => model.nrNota, "", new { @class = "text-danger" })
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            @Html.EditorFor(model => model.Cliente, "Clientes/Select", new { @disabled = true })
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            @Html.EditorFor(model => model.FormaPag, "FormaPagamentos/Select", new { @disabled = true })
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-2">
        <div class="form-group">
            @Html.LabelFor(model => model.nrParcela, htmlAttributes: new { @class = "control-label required" })
            @Html.TextBoxFor(model => model.nrParcela, new { @class = "form-control", @maxlength = "50", @autofocus = "autofocus", @disabled = "disabled" })
            @Html.ValidationMessageFor(model => model.nrParcela, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="col-sm-2">
        <div class="form-group">
            @Html.LabelFor(model => model.vlParcela, new { @class = "required" })
            @Html.TextBoxFor(model => model.vlParcela, new { @class = "form-control money", placeholder = "0,00", style = "text-align: right" })
            @Html.ValidationMessageFor(model => model.vlParcela, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            @Html.LabelFor(model => model.dtVencimento, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.dtVencimento, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
            @Html.ValidationMessageFor(model => model.dtVencimento, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="@Helper.Input3">
        <div class="form-group">
            @Html.LabelFor(model => model.dtPagamento, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.dtPagamento, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.dtPagamento, "", new { @class = "text-danger" })
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            @Html.EditorFor(model => model.ContaBancaria, "ContaBanco/Select", new { @disabled = readOnly })
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        @Html.LabelFor(model => model.dtCadastro, htmlAttributes: new { @class = "control-label" })
        <div class="input-group-append">
            <div class="input-group-addon input-group-text"><i class="fa fa-calendar"></i></div>
            @Html.TextBoxFor(model => model.dtCadastro, "{0:dd/MM/yyyy}", new { @class = "form-control col-md-6", @placeholder = "Data - Cadastro", @disabled = "disabled" })
            @Html.ValidationMessageFor(model => model.dtCadastro, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="col-md-6">
        @Html.LabelFor(model => model.dtUltAlteracao, htmlAttributes: new { @class = "control-label" })
        <div class="input-group-append">
            <div class="input-group-addon input-group-text"><i class="fa fa-calendar"></i></div>
            @Html.TextBoxFor(model => model.dtUltAlteracao, "{0:dd/MM/yyyy}", new { @class = "form-control col-md-6", @placeholder = "Data Ult. Alteração", @disabled = "disabled" })
            @Html.ValidationMessageFor(model => model.dtUltAlteracao, "", new { @class = "text-danger" })
        </div>
    </div>
</div>
