@model SistemaBarbearia.ViewModels.Paises.PaisVM

<div>
    <h4>Detalhes do Pais</h4>
    <hr />
    <div class="dl-horizontal">
        <div class="form-control">
            <table class="table ">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Pais</th>
                        <th>Sigla</th>
                        <th>Data Cadastro</th>
                        <th></th>
                    </tr>

                </thead>
            </table>
            <td>
                @Html.DisplayNameFor(model => model.nmPais)
            </td>

            <dd>
                @Html.DisplayFor(model => model.nmPais)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.dsSigla)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.dsSigla)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.dtCadastro)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.dtCadastro)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.dtUltAlteracao)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.dtUltAlteracao)
            </dd>
        </div>
    </div>
    <div class="form-group">
        @Html.ActionLink("Voltar", "Index", routeValues: null, htmlAttributes: new { @class = "btn btn-success", @role = "button" })
    </div>
</div>