@model SistemaBarbearia.ViewModels.Paises.PaisVM
@using SistemaBarbearia.Helper;

@{
    var action = Convert.ToString(ViewBag.Action);
    bool readOnly = Convert.ToBoolean(ViewBag.ReadOnly);
    bool isEdit = action.ToLower() == "edit";
}
@if (action != "create")
{
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @using (Html.BeginForm())
                {
                    @Html.LabelFor(e => e.IdPais, new { @class = "control-label required" })
                    @Html.TextBoxFor(model => model.IdPais, new { @class = "form-control col-md-2", readOnly = "readonly" })
                }
            </div>
        </div>
    </div>
}
<div class="row">
    <div class="col-md-8">
        <div class="form-group">
            @Html.LabelFor(model => model.nmPais, htmlAttributes: new { @class = "control-label required" })
            @Html.TextBoxFor(model => model.nmPais, new { @class = "form-control col-md-12", @maxlength = "100",  @style = "text-transform:uppercase ",  @placeholder = "Nome Pais" })
            @Html.ValidationMessageFor(model => model.nmPais, null, new { @class = "alert-danger" })
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            @Html.LabelFor(model => model.dsSigla, htmlAttributes: new { @class = "control-label required" })
            @Html.TextBoxFor(model => model.dsSigla, new { @class = "form-control col-md-4", @style = "text-transform:uppercase", @maxlength = "4", @placeholder = "Sigla" })
            @Html.ValidationMessageFor(model => model.dsSigla, "", new { @class = "alert-danger" })
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        @Html.LabelFor(model => model.dtCadastro, htmlAttributes: new { @class = "control-label" })
        <div class="input-group-append">
            <div class="input-group-addon input-group-text"><i class="fa fa-calendar"></i></div>
            @Html.TextBoxFor(model => model.dtCadastro, "{0:dd/MM/yyyy}", new { @class = "form-control col-md-6", @placeholder = "Data - Cadastro", @disabled = "disabled" })
            @Html.ValidationMessageFor(model => model.dtCadastro, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="col-md-6">
        @Html.LabelFor(model => model.dtUltAlteracao, htmlAttributes: new { @class = "control-label" })
        <div class="input-group-append">
            <div class="input-group-addon input-group-text"><i class="fa fa-calendar"></i></div>
            @Html.TextBoxFor(model => model.dtUltAlteracao, "{0:dd/MM/yyyy}" ,new { @class = "form-control col-md-6", @placeholder = "Data Ult. Alteração", @disabled = "disabled" })
            @Html.ValidationMessageFor(model => model.dtUltAlteracao, "", new { @class = "text-danger" })
        </div>
    </div>
</div>

