@model SistemaBarbearia.ViewModels.Servico.ServicoVM

<div>
    <h4>ServicoVM</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.dsServico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dsServico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vlServico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vlServico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dtCadastro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dtCadastro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dtUltAlteracao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dtUltAlteracao)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
