@model SistemaBarbearia.ViewModels.Compras.CompraVM
@using SistemaBarbearia.Helper;
@{
    var action = Convert.ToString(ViewBag.Action);
    bool readOnly = Convert.ToBoolean(ViewBag.ReadOnly);
    bool isEdit = action.ToLower() == "edit";
}
@if (action != "create")
{
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @using (Html.BeginForm())
                {
                    @Html.LabelFor(e => e.IdModelPai, new { @class = "control-label required" })
                    @Html.TextBoxFor(model => model.IdModelPai, new { @class = "form-control col-md-2", readOnly = "readonly" })
                }
            </div>
        </div>
    </div>
}
<div class="row">
    <div class="col-md-2">
        <div class="form-group">
            @Html.LabelFor(model => model.nrModelo, htmlAttributes: new { @class = "control-label required" })
            @Html.TextBoxFor(model => model.nrModelo, new { @class = "form-control", @maxlength = "50", @autofocus = "autofocus" })
            @Html.ValidationMessageFor(model => model.nrModelo, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            @Html.LabelFor(model => model.nrSerie, htmlAttributes: new { @class = "control-label required" })
            @Html.TextBoxFor(model => model.nrSerie, new { @class = "form-control", @maxlength = "50", @autofocus = "autofocus" })
            @Html.ValidationMessageFor(model => model.nrSerie, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            @Html.LabelFor(model => model.nrNota, htmlAttributes: new { @class = "control-label required" })
            @Html.TextBoxFor(model => model.nrNota, new { @class = "form-control", @maxlength = "50", @autofocus = "autofocus" })
            @Html.ValidationMessageFor(model => model.nrNota, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            @Html.LabelFor(model => model.dtEmissao, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.dtEmissao, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.dtEmissao, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="col-md-2">
        <div class="form-group">
            @Html.LabelFor(model => model.dtEntrega, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.dtEntrega, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.dtEntrega, "", new { @class = "text-danger" })
        </div>
    </div>

</div>

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            @Html.EditorFor(model => model.Fornecedor, "Fornecedores/Select", new { @disabled = readOnly })
        </div>
    </div>
</div>
<div class="bs-callout bs-callout-default">
    <h2 class="heading no-margin">Produtos</h2>

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                @Html.EditorFor(model => model.Produto, "Produtos/Select", new { @disabled = readOnly })
            </div>
        </div>

        <div class="form-row">


            <div class="@Helper.Input2">
                @Html.Label("qtProduto", "Quantidade", new { @class = "required" })
                @Html.TextBoxFor(model => model.unidade, new { @class = "form-control", @maxlength = "50", @autofocus = "autofocus" })
                @Html.ValidationMessageFor(model => model.unidade, "", new { @class = "text-danger" })
            </div>

            <div class="@Helper.Input2">
                @Html.Label("vlCompra", "Valor de compra", new { @class = "required" })
                @Html.TextBox("vlCompra", "", new { @class = "form-control money", placeholder = "0,00", style = "text-align: right" })
            </div>

            <div class="@Helper.Input2">
                @Html.Label("txDesconto", "Desconto (%)", new { @class = "required" })
                @Html.TextBox("txDesconto", "", new { @class = "form-control money", placeholder = "0,00", style = "text-align: right" })
            </div>

        </div>

    </div>
    <div class="row">
        <div class="col-lg-3">
            <div class="form-group">
                <button id="addProduto" type="button" class="btn btn-success"><i class="fa fa-plus"></i> Adicionar</button>
            </div>
        </div>
    </div>

    @Html.HiddenFor(model => model.jsProdutos)
    <table id="tblProduto" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                @if (action == "create")
                {
                    <th width="5%"></th>
                }
                <th width="5%">Cod</th>
                <th width="40%">Produto</th>
                <th width="10%">Unidade</th>
                <th width="10%">Quant.</th>
                <th width="10%">Vl. unit.</th>
                <th width="10%">Desconto</th>
                <th width="10%">Total</th>
            </tr>
        </thead>
    </table>
</div>