@model IEnumerable<SistemaBarbearia.Models.Compras.Compra>
@using SistemaBarbearia.Helper;
@{
    ViewBag.Title = "Compras";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var _action = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    var _controller = ViewContext.Controller.ValueProvider.GetValue("controller").RawValue.ToString();
}
<div class="container">
    <ul class="breadcrumb breadcrumb-arrow">
        <li><a href="@Url.Action("Index")"><i class="fa fa-home"></i></a></li>
        <li class="active">Consultar Compras</li>
    </ul>
    <a href="@Url.Action("Create", "Compra" )" class="btn btn-primary" role="button" aria-pressed="true"> <i class="fa fa-plus"></i> Adicionar</a>
    <table id="listaCompra" class="table table-striped table-bordered" style="width:100%">
        <thead class="table-dark">
            <tr>

                <th export="true" style="width:10%">Nota</th>
                <th export="true" style="width:10%">Modelo</th>
                <th export="true" style="width:10%">Dt.Emissão</th>
                <th export="true" style="width:45%">Fornecedor</th>
                <th export="true" style="width:5%">Situação</th>
                <th export="true" style="width:20%">Opções</th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
    <tr>
        <td style="width:10%;">
            @Html.DisplayFor(modelItem => item.nrNota)
        </td>
        <td style="width:10%;">
            @Html.DisplayFor(modelItem => item.nrModelo)
        </td>
        <td style="width:10%;">
            @Html.DisplayFor(modelItem => item.dtEmissao)
        </td>
        <td style="width:45%;">
            @Html.DisplayFor(modelItem => item.Fornecedor.nmNome)
        </td>
        <td style="width:5%;">
            @Html.DisplayFor(modelItem => item.flSituacao)
        </td>
        <td>
            <a title="Visualizar" class="btn btn-success btn-sm" href="@HttpUtility.UrlDecode(Url.Action("Details", new { nrModelo = item.nrModelo, nrSerie = item.nrSerie, nrNota = item.nrNota, IdFornecedor = item.Fornecedor.IdFornecedor}))"><i class="fa fa-eye"></i></a>
            @if (item.flSituacao == "A")
            {
                <a title="Cancelar" class="btn btn-info btn-sm" href="@HttpUtility.UrlDecode(Url.Action("Cancelar", new { nrModelo = item.nrModelo, nrSerie = item.nrSerie, nrNota = item.nrNota, IdFornecedor = item.Fornecedor.IdFornecedor }))"><i class="fa fa-ban"></i></a>
            }
            else
            {
                <a class='btn btn-secondary btn-sm' style="height:30px; width:33px" title="Ação indisponível" data-trigger='hover'><i class="fa fa-info"></i></a>
            }
        </td>
    </tr>
        }

    </table>

</div>

@section Scripts {
    @Scripts.Render("~/Scripts/Views/Compras/Compra.js")

}
