@model SistemaBarbearia.ViewModels.Estados.SelectEstadoVM
@using SistemaBarbearia.Helper;
@{
    bool Disabled = Convert.ToBoolean(ViewData["Disabled"]);
    bool Required = Convert.ToBoolean(ViewData["Required"] ?? true);
    bool OnlySelect = Convert.ToBoolean(ViewData["onlySelect"] ?? true);
    bool LabelVertical = Convert.ToBoolean(ViewData["LabelVertical"]);
    string Label = Convert.ToString(ViewData["Label"] ?? "Estado");
    string classLabel = Convert.ToString(ViewData["classLabel"] ?? Helper.Input12);
    string classForm = Convert.ToString(ViewData["classForm"] ?? Helper.Input12);
    var Prefix = Html.ClientPrefixName().ToString();
    bool readOnly = Convert.ToBoolean(ViewBag.ReadOnly);

    var Pais = new SistemaBarbearia.ViewModels.Paises.SelectPaisVM();
}
@Html.Hidden("isEdit")
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            @Html.Label("", Label)
            <div class="input-group">
                <div class="input-group-btn" style="width:15%">
                    @Html.TextBoxFor(model => model.IdEstado, new { @style = "border-radius: 4px 0px 0px 4px;", @class = "form-control number", maxLength = "6" })
                </div>
                <div class="input-group-btn" style="width:45%">
                    @Html.TextBoxFor(model => model.Text, new { @class = "form-control", Disabled = true })
                </div>
                <div class="input-group-btn">
                    <a style="border-radius:0" data-target="#@SistemaBarbearia.Helper.SelectFunctions.getInputId("Modal", Prefix)" id="@SistemaBarbearia.Helper.SelectFunctions.getInputId("btn-localizar", Prefix)" title="Abrir a busca de @Label" class="btn btn-primary" data-toggle="modal"><i class="fa fa-search"></i></a>
                </div>
                @Html.ValidationMessageFor(model => model.Text, null, new { @class = "text-danger" })
            </div>
        </div>
    </div>
</div>
<div id="@SistemaBarbearia.Helper.SelectFunctions.getInputId("ModalLista", Prefix)" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body no-padding">
                <div class="panel panel-primary" style="margin-bottom: -1px;">
                    <div class="panel-heading" style="height: 41px; padding-left:2px;font-weight: bold;">
                        <h3 class="panel-title pull-right"><button type="button" style="opacity: inherit;color: #fff;" class="close" data-dismiss="modal">&times;</button></h3>
                        <ul class="nav panel-tabs" style="width:400px">
                            <li class="active"><a data-event="true" style="margin-top:1px;color: black;" data-toggle="tab"><b><i class="fa fa-list-alt" aria-hidden="true"></i> Estado </b></a></li>
                        </ul>
                    </div>
                    @*<div style="text-align:left">
                        <button id="@SistemaBarbearia.Helper.SelectFunctions.getInputId("Create", Prefix)" onclick="OpenModalCreate()" type="button" class="btn btn-primary"><i class="fa fa-plus"></i>Adicionar</button>
                    </div>*@
                    <div id="body" class="modal-body" style="padding: 33px 0px 0px 0px;">
                        <div class="container-fluid">
                            <div id="TableEstado"></div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div style="text-align:right">
                            <button id="@SistemaBarbearia.Helper.SelectFunctions.getInputId("Fechar", Prefix)" onclick="FecharModalEstado()" type="button" class="btn btn-outline-dark"><i class="fa fa-times"></i>Fechar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="@SistemaBarbearia.Helper.SelectFunctions.getInputId("ModalCreate", Prefix)" class="modal fade" role="dialog">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-body no-padding">
                <div class="panel panel-primary" style="margin-bottom: -1px;">
                    <div class="panel-heading" style="height: 41px; padding-left:2px;font-weight: bold;">
                        <h3 class="panel-title pull-right"><button type="button" style="opacity: inherit;color: #fff;" class="close" data-dismiss="modal">&times;</button></h3>
                        <ul class="nav panel-tabs" style="width:400px">
                            <li class="active"><a data-event="true" style="margin-top:1px;color: black;" data-toggle="tab"><b><i class="fa fa-list-alt" aria-hidden="true"></i> Paises </b></a></li>
                        </ul>
                    </div>
                    <div id="body" class="modal-body" style="padding: 33px 0px 0px 0px;">
                        <div class="container-fluid">

                            <div class="form-row isEdit">
                                <div class="@Helper.Input2">
                                    @Html.Label("idEstado", "Código")
                                    @Html.TextBox("idEstado", null, new { @class = "form-control", disabled = true })
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="@Helper.Input6">
                                    @Html.Label("nmEstado", "Estado", new { @class = "required" })
                                    @Html.TextBox("nmEstado", null, new { @class = "form-control", maxlength = "50", style = "text-transform:uppercase" })
                                    @Html.ValidationMessage("nmEstado", null, new { @class = "text-danger" })
                                </div>

                                <div class="@Helper.Input3">
                                    @Html.Label("dsUf", "UF", new { @class = "required" })
                                    @Html.TextBox("dsUf", null, new { @class = "form-control", maxlength = "2", style = "text-transform:uppercase" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        @Html.EditorFor(model => Pais, "Paises/Select", new { @Required = true, Disable = readOnly })
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="modal-footer">
                        <div style="text-align:right">
                            <button id="@SistemaBarbearia.Helper.SelectFunctions.getInputId("btnSave", Prefix)" type="button" class="btn btn-success"><i class="fa fa-saveEstado"></i>  Salvar</button>
                            <button id="@SistemaBarbearia.Helper.SelectFunctions.getInputId("FecharCreate", Prefix)" onclick="FecharModalCreate()" type="button" class="btn btn-danger"><i class="fa fa-ban"></i>  Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.AddScriptBlock(
@<script type="text/javascript">

    self = this;
    $(function () {
         $("#@SistemaBarbearia.Helper.SelectFunctions.getInputId("btn-localizar", Prefix)").on("click", function () {
             InitModalEstado();
         });

         $('#@SistemaBarbearia.Helper.SelectFunctions.getInputId("btnSave", Prefix)').on('click', function () {
                self.saveEstado();
         });

         $('#@SistemaBarbearia.Helper.SelectFunctions.getInputId("IdEstado", Prefix)').change(function (data, e) {
             var IdEstado = $('#@SistemaBarbearia.Helper.SelectFunctions.getInputId("IdEstado", Prefix)').val();
             if (IdEstado == "") {
                 $("#@SistemaBarbearia.Helper.SelectFunctions.getInputId("IdEstado", Prefix)").val("");
                 $("#@SistemaBarbearia.Helper.SelectFunctions.getInputId("Text", Prefix)").val("");
             } else {
                 $.ajax({
                     dataType: 'json',
                     type: 'GET',
                     url: '@Url.Action("JsDetails", "Estado")',
                     data: { 'IdEstado': IdEstado },
                     success: function (data) {
                         if (!data) {
                             $.notify({ message: 'Nenhum registro encontrado para o código informado', icon: 'fa fa-exclamation' }, { type: 'danger' });
                         }
                         $("#@SistemaBarbearia.Helper.SelectFunctions.getInputId("IdEstado", Prefix)").val(data.IdEstado);
                         $("#@SistemaBarbearia.Helper.SelectFunctions.getInputId("Text", Prefix)").val(data.Text);
                     },
                     error: function (err) {
                         alert(err);
                         alert("Erro ao buscar registro");
                     }
                 });
             }
         });

     });

    this.getFormEstado = function () {
        var form = {
                IdEstado: $('#@SistemaBarbearia.Helper.SelectFunctions.getInputId("IdEstado", Prefix)'),
                nmEstado: $('#@SistemaBarbearia.Helper.SelectFunctions.getInputId("Text", Prefix)'),
                dsUF: $('#@SistemaBarbearia.Helper.SelectFunctions.getInputId("dsUF", Prefix)'),
                IdPais: $('#@SistemaBarbearia.Helper.SelectFunctions.getInputId("IdPais", Prefix)'),
            }
        return form;
    };

    this.clearEstado = function () {
        var form = self.getFormEstado();
        form.IdEstado.val("");
        form.nmEstado.val("");
        form.dsUF.val("");
        form.IdPais.val("");
        form.nmEstado.focus();
    };

    this.isValidEstado = function () {
        var valid = true;
        var form = self.getFormEstado();

        if (IsNullOrEmpty(form.nmEstado.val())) {
            form.nmEstado.blink({ msg: "Campo Estado é obrigatório" });
            form.nmEstado.focus();
            valid = false;
        }
        else if (IsNullOrEmpty(form.dsUF.val())) {
            form.dsUF.blink({ msg: "Campo UF é obrigatório" });
            form.dsUF.focus();
            valid = false;
        }
        return valid;
    };

    getModelEstado = function (form) {
        var model = {
            IdEstado: form.IdEstado.val(),
            nmEstado: form.nmEstado.val(),
            dsUF: form.dsUF.val(),

            IdPais: $("#Estado_Pais_IdPais").val() > 0 ? $("#Estado_Pais_IdPais").val() : $("#cidade_Estado_Pais_IdPais").val(),
        }
        return model;
    };

    this.saveEstado = function () {
        if ($('#@SistemaBarbearia.Helper.SelectFunctions.getInputId("isEdit", Prefix)').val() == "S") {
            this.updateEstado();
        } else {
            this.insertEstado();
        }
    }

    this.insertEstado = function () {
        var form = self.getFormEstado();
        var model = getModelEstado(form);

        if (self.isValidEstado(model)) {

            $.ajax({
                dataType: 'json',
                type: 'POST',
                url: '@Url.Action("jsInsert", "Estado")',
                data: model,
                success: function (data) {
                    self.clearEstado();
                    InitModalEstado();
                    $("#@SistemaBarbearia.Helper.SelectFunctions.getInputId("ModalCreate", Prefix)").modal("hide");
                    $("#@SistemaBarbearia.Helper.SelectFunctions.getInputId("ModalLista", Prefix)").css("overflow", "auto");
                    $.notify({ message: data.message, icon: 'fa fa-exclamation' }, { type: 'success', z_index: 2000, });

                },
                error: function (request) {
                    alert("Erro ao adicionar registro")
                }
            });
        }
    };

    this.updateEstado = function () {
        var form = self.getFormEstado();
        var model = getModelEstado(form);

        if (self.isValidEstado(model)) {

            $.ajax({
                dataType: 'json',
                type: 'POST',
                url: '@Url.Action("jsUpdate", "Estado")',
                data: model,
                success: function (data) {
                    console.log(data)
                    self.clearEstado();
                    InitModalEstado();
                    $("#@SistemaBarbearia.Helper.SelectFunctions.getInputId("ModalCreate", Prefix)").modal("hide");
                    $("#@SistemaBarbearia.Helper.SelectFunctions.getInputId("ModalLista", Prefix)").css("overflow", "auto");

                },
            });
        }
    };

    function InitModalEstado() {
        $("#TableEstado").empty();
          let table = null
        let lis = getTableEstados();
          $("#TableEstado").append(lis);

        table = $('#listaEstado').DataTable({
            ajax: { url: $('#listaEstado').attr('data-url') },
                lengthMenu: false,
                lengthChange: false,
                language: {
                    url: 'https://cdn.datatables.net/plug-ins/1.10.24/i18n/Portuguese-Brasil.json',
            },
            columns: [
                { data: "IdEstado" },
                { data: "Text" },
                   {
                    sortable: false,
                    data: null,
                    sClass: 'details-control center',
                    mRender: function (data) {
                        return '<a class="btn btn-primary btn-sm" data-evet="item" title="Selecionar registro"><i class="fa fa-check"></i> </a>';
                    }
                },
                //{
                //    sortable: false,
                //    data: null,
                //    mRender: function (data) {
                //        return '<a class="btn btn-warning btn-sm" onclick="OpenEditEstado(' + data.IdEstado + ')" title="Alterar registro"><i class="fa fa-edit"></i> </a>';
                //    }
                //},
            ],
        });


        $("#@SistemaBarbearia.Helper.SelectFunctions.getInputId("ModalLista", Prefix)").modal("show");

        $('#lista tbody').on('click', 'td.details-control', function () {
            var tr = $(this).closest('tr');
            var row = table.row(tr);
            if (row.child.isShown()) {
                $('div.slider', row.child()).slideUp(function () {
                    row.child.hide();
                    tr.removeClass('shown');
                });
            }
            else {
                row.child(SelectEstado(row.data())).show();
                tr.addClass('shown');
                $('div.slider', row.child()).slideDown();
            }
        });
    }

    function getTableEstados() {
        let tmp = `<table id="listaEstado" class="table table-striped table-bordered" style="width:100%" data-url="@Url.Action("JsQuery", "Estado")">
                        <thead class="table-dark">
                            <tr>
                                <th export="true" style="width:20%">Código</th>
                                <th export="true" style="width:80%">Estado</th>
                                <th></th>
                             
                            </tr>
                        </thead>
                   </table>`;
          return tmp;
    };

    function FecharModalEstado() {
        $("#@SistemaBarbearia.Helper.SelectFunctions.getInputId("ModalLista", Prefix)").modal("hide");
    };

    function FecharModalCreate() {
        $("#@SistemaBarbearia.Helper.SelectFunctions.getInputId("ModalCreate", Prefix)").css("overflow", "hidden");
        $("#@SistemaBarbearia.Helper.SelectFunctions.getInputId("ModalCreate", Prefix)").modal("hide");
        $("#@SistemaBarbearia.Helper.SelectFunctions.getInputId("ModalLista", Prefix)").css("overflow", "auto");
        self.clearEstado();
    };

    function OpenModalCreate() {
        $("#@SistemaBarbearia.Helper.SelectFunctions.getInputId("btnUpdate", Prefix)").hide();
        $("#@SistemaBarbearia.Helper.SelectFunctions.getInputId("ModalLista", Prefix)").css("overflow", "hidden");
        $("#@SistemaBarbearia.Helper.SelectFunctions.getInputId("ModalCreate", Prefix)").css("overflow", "auto");
        $("#@SistemaBarbearia.Helper.SelectFunctions.getInputId("ModalCreate", Prefix)").modal("show");
        $("#@SistemaBarbearia.Helper.SelectFunctions.getInputId("isEdit", Prefix)").val("N");
        if ($("#@SistemaBarbearia.Helper.SelectFunctions.getInputId("isEdit", Prefix)").val() == "N") {
            $(".isEdit").hide();
        }

    };

    function SelectEstado(data) {
        $("#@SistemaBarbearia.Helper.SelectFunctions.getInputId("ModalLista", Prefix)").modal("hide");
        $("#@SistemaBarbearia.Helper.SelectFunctions.getInputId("IdEstado", Prefix)").val(data.IdEstado);
        $("#@SistemaBarbearia.Helper.SelectFunctions.getInputId("nmEstado", Prefix)").val(data.nmEstado);
        return false;
    };

    function OpenEditEstado(Id) {
        $.ajax({
            dataType: 'json',
            type: 'GET',
            url: '@Url.Action("JsDetails", "Estado")',
            data: { 'IdEstado': Id },
            success: function (data) {
                self.clearEstado();
                $("#@SistemaBarbearia.Helper.SelectFunctions.getInputId("ModalCreate", Prefix)").modal("show");
                $("#@SistemaBarbearia.Helper.SelectFunctions.getInputId("isEdit", Prefix)").val("S");
                if ($("#@SistemaBarbearia.Helper.SelectFunctions.getInputId("isEdit", Prefix)").val() == "S") {
                    $(".isEdit").show();
                }
                $("#@SistemaBarbearia.Helper.SelectFunctions.getInputId("IdEstado", Prefix)").val(data.IdEstado);
                $("#@SistemaBarbearia.Helper.SelectFunctions.getInputId("Text", Prefix)").val(data.Text);
                $("#@SistemaBarbearia.Helper.SelectFunctions.getInputId("dsUf", Prefix)").val(data.dsUF);
                @*$("#@SistemaBarbearia.Helper.SelectFunctions.getInputId("Pais_IdPais", Prefix)").val(data.IdPais);
                $("#@SistemaBarbearia.Helper.SelectFunctions.getInputId("Pais_Pais_Text", Prefix)").val(data.Text);*@
                $("#@SistemaBarbearia.Helper.SelectFunctions.getInputId("ModalLista", Prefix)").css("overflow", "auto");
            },
            error: function (request) {
                alert("Erro ao buscar registro");
            }
        });
        return false;
    }

</script>
)