@model SistemaBarbearia.ViewModels.Clientes.ClienteVM
@using SistemaBarbearia.Helper;
@{
    var action = Convert.ToString(ViewBag.Action);
    bool readOnly = Convert.ToBoolean(ViewBag.ReadOnly);
    bool isEdit = action.ToLower() == "edit";
}
@if (action != "create")
{
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @using (Html.BeginForm())
                {
                    @Html.LabelFor(e => e.Id, new { @class = "control-label" })
                    @Html.TextBoxFor(model => model.Id, new { @class = "form-control col-md-2", readOnly = "readonly" })
                }
            </div>
        </div>
    </div>
}
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            @Html.LabelFor(model => model.flSexo, htmlAttributes: new { @class = "control-label" })
            @Html.DropDownListFor(model => model.flSexo, SistemaBarbearia.ViewModels.Clientes.ClienteVM.Sexo, new { @datadrop = "select2", @class = "form-control  col-md-6" })
            @Html.ValidationMessageFor(model => model.flSexo, "", new { @class = "text-danger" })
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            @Html.LabelFor(model => model.nmCliente, htmlAttributes: new { @class = "control-label" })
            @Html.TextBoxFor(model => model.nmCliente, new { @class = "form-control col-md-12", maxlength = "50", @autofocus = "autofocus", @title = "Nome do país", @placeholder = "Nome Cliente" })
            @Html.ValidationMessageFor(model => model.nmCliente, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            @Html.LabelFor(model => model.nmApelido, htmlAttributes: new { @class = "control-label" })
            @Html.TextBoxFor(model => model.nmApelido, new { @class = "form-control col-md-10", maxlength = "50", @autofocus = "autofocus", @placeholder = "Apelido" })
            @Html.ValidationMessageFor(model => model.nmApelido, "", new { @class = "text-danger" })
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            @Html.LabelFor(model => model.nrCEP, htmlAttributes: new { @class = "control-label" })
            @Html.TextBoxFor(model => model.nrCEP, new { @class = "form-control  col-md-6", @autofocus = "autofocus", @placeholder = "CEP" })
            @Html.ValidationMessageFor(model => model.nrCEP, "", new { @class = "text-danger" })
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            @Html.LabelFor(model => model.dsLougradouro, htmlAttributes: new { @class = "control-label " })
            @Html.TextBoxFor(model => model.dsLougradouro, new { @class = "form-control  col-md-12", @autofocus = "autofocus", @placeholder = "Endereço" })
            @Html.ValidationMessageFor(model => model.dsLougradouro, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            @Html.LabelFor(model => model.nrResidencial, htmlAttributes: new { @class = "control-label" })
            @Html.TextBoxFor(model => model.nrResidencial, new { @class = "form-control  col-md-4", @autofocus = "autofocus", @placeholder = "Nº" })
            @Html.ValidationMessageFor(model => model.nrResidencial, "", new { @class = "text-danger" })
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            @Html.LabelFor(model => model.dsComplemento, htmlAttributes: new { @class = "control-label" })
            @Html.TextBoxFor(model => model.dsComplemento, new { @class = "form-control  col-md-10", @autofocus = "autofocus", @placeholder = "Complemento" })
            @Html.ValidationMessageFor(model => model.dsComplemento, "", new { @class = "text-danger" })
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            @Html.LabelFor(model => model.dsBairro, htmlAttributes: new { @class = "control-label" })
            @Html.TextBoxFor(model => model.dsBairro, new { @class = "form-control  col-md-10", @autofocus = "autofocus", @placeholder = "Bairro" })
            @Html.ValidationMessageFor(model => model.dsBairro, "", new { @class = "text-danger" })
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            @Html.LabelFor(model => model.cidade, new { @class = "control-label" })

        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            @Html.LabelFor(model => model.nrTelefone, htmlAttributes: new { @class = "control-label" })
            @Html.TextBoxFor(model => model.nrTelefone, new { @class = "form-control  col-md-10", @autofocus = "autofocus", @placeholder = "Telefone" })
            @Html.ValidationMessageFor(model => model.nrTelefone, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            @Html.LabelFor(model => model.nrCelular, htmlAttributes: new { @class = "control-label" })
            @Html.TextBoxFor(model => model.nrCelular, new { @class = "form-control  col-md-10", @autofocus = "autofocus", @placeholder = "Celular" })
            @Html.ValidationMessageFor(model => model.nrCelular, "", new { @class = "text-danger" })
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            @Html.LabelFor(model => model.dsEmail, htmlAttributes: new { @class = "control-label" })
            @Html.TextBoxFor(model => model.dsEmail, new { @class = "form-control  col-md-10", @autofocus = "autofocus", @placeholder = "E-Mail" })
            @Html.ValidationMessageFor(model => model.dsEmail, "", new { @class = "text-danger" })
        </div>
    </div>
</div>
<div class="form-group" id="fisica">
    <div class="row">
        <div class="col-md-4">
            @Html.LabelFor(model => model.nrCPF, htmlAttributes: new { @class = "control-label" })
            @Html.TextBoxFor(model => model.nrCPF, new { @class = "form-control  col-md-10", @autofocus = "autofocus", @placeholder = "CPF" })
            @Html.ValidationMessageFor(model => model.nrCPF, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-4">
            @Html.LabelFor(model => model.nrRG, htmlAttributes: new { @class = "control-label" })
            @Html.TextBoxFor(model => model.nrRG, new { @class = "form-control  col-md-10", @autofocus = "autofocus", @placeholder = "RG" })
            @Html.ValidationMessageFor(model => model.nrRG, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-4">
            @Html.LabelFor(model => model.dataNasc, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.dataNasc, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.dataNasc, "", new { @class = "text-danger" })
        </div>
    </div>
</div>