@model SistemaBarbearia.ViewModels.Clientes.ClienteVM
@using SistemaBarbearia.Helper;
@{
    var action = Convert.ToString(ViewBag.Action);
    bool readOnly = Convert.ToBoolean(ViewBag.ReadOnly);
    bool isEdit = action.ToLower() == "edit";
}
@if (action != "create")
{
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @using (Html.BeginForm())
                {
                    @Html.LabelFor(e => e.IdModelPai, new { @class = "control-label required" })
                    @Html.TextBoxFor(model => model.IdModelPai, new { @class = "form-control col-md-2", readOnly = "readonly" })
                }
            </div>
        </div>
    </div>
}
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            @Html.LabelFor(model => model.Fisica.flSexo, htmlAttributes: new { @class = "control-label required" })
            @Html.DropDownListFor(model => model.Fisica.flSexo, SistemaBarbearia.ViewModels.Clientes.ClienteVM.Sexo, new { @datadrop = "select2", @class = "form-control  col-md-6" })
            @Html.ValidationMessageFor(model => model.Fisica.flSexo, "", new { @class = "text-danger" })
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <div class="form-group">
            @Html.LabelFor(model => model.nmPessoa, htmlAttributes: new { @class = "control-label required" })
            @Html.TextBoxFor(model => model.nmPessoa, new { @class = "form-control col-md-12", @maxlength = "50", @style = "text-transform:uppercase", @autofocus = "autofocus", @placeholder = "Nome Cliente" })
            @Html.ValidationMessageFor(model => model.nmPessoa, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            @Html.LabelFor(model => model.Fisica.nmApelido, htmlAttributes: new { @class = "control-label required" })
            @Html.TextBoxFor(model => model.Fisica.nmApelido, new { @class = "form-control col-md-16", @style = "text-transform:uppercase", @maxlength = "50", @autofocus = "autofocus", @placeholder = "Apelido" })
            @Html.ValidationMessageFor(model => model.Fisica.nmApelido, "", new { @class = "text-danger" })
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <div class="form-group">
            @Html.LabelFor(model => model.nrCEP, htmlAttributes: new { @class = "control-label required" })
            @Html.TextBoxFor(model => model.nrCEP, new { id = "cep", @class = "form-control  col-md-16", @mask = "99999-999", @autofocus = "autofocus", @placeholder = "CEP" })
            @Html.ValidationMessageFor(model => model.nrCEP, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="col-md-8">
        <div class="form-group">
            @Html.LabelFor(model => model.dsLogradouro, htmlAttributes: new { @class = "control-label required " })
            @Html.TextBoxFor(model => model.dsLogradouro, new { @class = "form-control col-md-12", maxlength = "50", @autofocus = "autofocus", @placeholder = "Endereço", @style = "text-transform:uppercase" })
            @Html.ValidationMessageFor(model => model.dsLogradouro, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            @Html.LabelFor(model => model.nrResidencial, htmlAttributes: new { @class = "control-label required" })
            @Html.TextBoxFor(model => model.nrResidencial, new { @class = "form-control  col-md-6", @autofocus = "autofocus", @placeholder = "Nº" })
            @Html.ValidationMessageFor(model => model.nrResidencial, "", new { @class = "text-danger" })
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            @Html.LabelFor(model => model.dsComplemento, htmlAttributes: new { @class = "control-label required " })
            @Html.TextBoxFor(model => model.dsComplemento, new { @class = "form-control col-md-10", maxlength = "50", @autofocus = "autofocus", @placeholder = "Complemento", @style = "text-transform:uppercase" })
            @Html.ValidationMessageFor(model => model.dsComplemento, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            @Html.LabelFor(model => model.dsBairro, htmlAttributes: new { @class = "control-label required" })
            @Html.TextBoxFor(model => model.dsBairro, new { @class = "form-control col-md-10", maxlength = "50", @autofocus = "autofocus", @placeholder = "Bairro", @style = "text-transform:uppercase" })
            @Html.ValidationMessageFor(model => model.dsBairro, "", new { @class = "text-danger" })
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <div class="form-group">
            @Html.EditorFor(model => model.Cidade, "Cidades/Select", new { @disabled = readOnly })
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            @Html.LabelFor(model => model.nrTelefone, htmlAttributes: new { @class = "control-label required" })
            @Html.TextBoxFor(model => model.nrTelefone, new { id = "telefone", @class = "form-control  col-md-10", @autofocus = "autofocus", @placeholder = "Telefone" })
            @Html.ValidationMessageFor(model => model.nrTelefone, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            @Html.LabelFor(model => model.nrCelular, htmlAttributes: new { @class = "control-label required" })
            @Html.TextBoxFor(model => model.nrCelular, new {  id = "celular", @class = "form-control  col-md-10", @autofocus = "autofocus", @placeholder = "Celular" })
            @Html.ValidationMessageFor(model => model.nrCelular, "", new { @class = "text-danger" })
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <div class="form-group">
            @Html.LabelFor(model => model.dsEmail, htmlAttributes: new { @class = "control-label required" })
            @Html.TextBoxFor(model => model.dsEmail, new { @class = "form-control col-md-12", maxlength = "50", @autofocus = "autofocus", @placeholder = "E-mail", @style = "text-transform:uppercase" })
            @Html.ValidationMessageFor(model => model.dsEmail, "", new { @class = "text-danger" })
        </div>
    </div>
</div>
<div class="form-group">
    <div class="row">
        <div class="col-md-4 fisica"  >
            @Html.LabelFor(model => model.Fisica.nrCPF, htmlAttributes: new { @class = "control-label required" })
            @Html.TextBoxFor(model => model.Fisica.nrCPF, new { id = "cpf", @class = "form-control  col-md-10", @autofocus = "autofocus", @placeholder = "CPF" })
            @Html.ValidationMessageFor(model => model.Fisica.nrCPF, "", new { @class = "text-danger", maxlength = "14" })
        </div>
        <div class="col-md-4">
            @Html.LabelFor(model => model.Fisica.nrRG, htmlAttributes: new { @class = "control-label required" })
            @Html.TextBoxFor(model => model.Fisica.nrRG, new {  @class = "form-control  col-md-10", @autofocus = "autofocus", @placeholder = "RG", maxlength = "9" })
            @Html.ValidationMessageFor(model => model.Fisica.nrRG, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-4">
            @Html.LabelFor(model => model.Fisica.dataNasc, htmlAttributes: new { @class = "control-label required" })
            @Html.TextBoxFor(model => model.Fisica.dataNasc, "{0:dd/MM/yyyy}", new { id = "nascimento", @class = "form-control" })

            @Html.ValidationMessageFor(model => model.Fisica.dataNasc, "", new { @class = "text-danger" })
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <div class="form-group">
            @Html.EditorFor(model => model.condPagamento, "CondPagamento/Select", new { @disabled = readOnly })
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        @Html.LabelFor(model => model.dtCadastro, htmlAttributes: new { @class = "control-label" })
        <div class="input-group-append">
            <div class="input-group-addon input-group-text"><i class="fa fa-calendar"></i></div>
            @Html.TextBoxFor(model => model.dtCadastro, new { @class = "form-control datepicker date", disabled = true })
            @Html.ValidationMessageFor(model => model.dtCadastro, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="col-md-6">
        @Html.LabelFor(model => model.dtUltAlteracao, htmlAttributes: new { @class = "control-label" })
        <div class="input-group-append">
            <div class="input-group-addon input-group-text"><i class="fa fa-calendar"></i></div>
            @Html.TextBoxFor(model => model.dtUltAlteracao, new { @class = "form-control datepicker date", disabled = true })
            @Html.ValidationMessageFor(model => model.dtUltAlteracao, "", new { @class = "text-danger" })
        </div>
    </div>
</div>
