@model IEnumerable<SistemaBarbearia.Models.Paises.Estado>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nmEstado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dsUF)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idPais)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dtCadastro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dtUltAlteracao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nmEstado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dsUF)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idPais)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dtCadastro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dtUltAlteracao)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
