@model SistemaBarbearia.ViewModels.Servicos.SelectServicoVM
@using SistemaBarbearia.Helper;
@{
    bool Disabled = Convert.ToBoolean(ViewData["Disabled"]);
    bool Required = Convert.ToBoolean(ViewData["Required"] ?? true);
    bool OnlySelect = Convert.ToBoolean(ViewData["onlySelect"] ?? true);
    bool LabelVertical = Convert.ToBoolean(ViewData["LabelVertical"]);
    string Label = Convert.ToString(ViewData["Label"] ?? "Serviços");
    string classLabel = Convert.ToString(ViewData["classLabel"] ?? Helper.Input12);
    string classForm = Convert.ToString(ViewData["classForm"] ?? Helper.Input12);
    var Prefix = Html.ClientPrefixName().ToString();
    var flValorServico = Convert.ToString(ViewData["flValorServico"]);

}
@Html.Hidden("isEdit")
<div class="form-row">
    <div class="col-md-12">
        <div class="form-group">
            @Html.Label("", Label)
            <div class="input-group">
                <div class="input-group-btn" style="width:15%">
                    @Html.TextBoxFor(model => model.IdServico, new { @style = "border-radius: 4px 0px 0px 4px;", @class = "form-control number", maxLength = "6" })
                </div>
                <div class="input-group-btn" style="width:45%">
                    @Html.TextBoxFor(model => model.dsServico, new { @class = "form-control", Disabled = true })
                </div>
                <div class="input-group-btn">
                    <a style="border-radius:0" data-target="#@SistemaBarbearia.Helper.SelectFunctions.getInputId("Modal", Prefix)" id="@SistemaBarbearia.Helper.SelectFunctions.getInputId("btn-localizar", Prefix)" title="Abrir a busca de @Label" class="btn btn-primary" data-toggle="modal"><i class="fa fa-search"></i></a>
                </div>
                @Html.ValidationMessageFor(model => model.IdServico, null, new { @class = "text-danger" })
            </div>
        </div>
    </div>
</div>
<div class="row">
    @if (flValorServico == "S")
    {
        <div class="@Helper.InputLG">

            @Html.Label("vlServico", "Valor Servico", new { @class = "required" })
            @Html.TextBoxFor(model => model.vlServico, new { @class = "form-control", Disabled = true, placeholder = "0,00", style = "text-align: right" })

        </div>
    }
</div>
<div id="@SistemaBarbearia.Helper.SelectFunctions.getInputId("ModalLista", Prefix)" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body no-padding">
                <div class="panel panel-primary" style="margin-bottom: -1px;">
                    <div class="panel-heading" style="height: 41px; padding-left:2px;font-weight: bold;">
                        <h3 class="panel-title pull-right"><button type="button" style="opacity: inherit;color: #fff;" class="close" data-dismiss="modal">&times;</button></h3>
                        <ul class="nav panel-tabs" style="width:400px">
                            <li class="active"><a data-event="true" style="margin-top:1px;color: black;" data-toggle="tab"><b><i class="fa fa-list-alt" aria-hidden="true"></i>Serviços</b></a></li>
                        </ul>
                    </div>

                    <div style="text-align:left">
                        <button id="@SistemaBarbearia.Helper.SelectFunctions.getInputId("Create", Prefix)" onclick="OpenModalCreateProduto()" type="button" class="btn btn-primary"><i class="fa fa-plus"></i>Adicionar</button>
                    </div>

                    <div id="body" class="modal-body" style="padding: 33px 0px 0px 0px;">
                        <div class="container-fluid">
                            <div id="TableServico">

                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <div style="text-align:right">
                            <button id="@SistemaBarbearia.Helper.SelectFunctions.getInputId("Fechar", Prefix)" onclick="FecharModalProduto()" type="button" class="btn btn-outline-dark"><i class="fa fa-times"></i>Fechar</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div id="@SistemaBarbearia.Helper.SelectFunctions.getInputId("ModalLista", Prefix)" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body no-padding">
                <div class="panel panel-primary" style="margin-bottom: -1px;">
                    <div class="panel-heading" style="height: 41px; padding-left:2px;font-weight: bold;">
                        <h3 class="panel-title pull-right"><button type="button" style="opacity: inherit;color: #fff;" class="close" data-dismiss="modal">&times;</button></h3>
                        <ul class="nav panel-tabs" style="width:400px">
                            <li class="active"><a data-event="true" style="margin-top:1px;color: black;" data-toggle="tab"><b><i class="fa fa-list-alt" aria-hidden="true"></i> Serviços </b></a></li>
                        </ul>
                    </div>
                    <div style="text-align:right">
                        <button id="@SistemaBarbearia.Helper.SelectFunctions.getInputId("Create", Prefix)" onclick="OpenModalCreateProduto()" type="button" class="btn btn-success"><i class="fa fa-plus"></i>  Adicionar</button>
                    </div>
                    <div id="body" class="modal-body" style="padding: 33px 0px 0px 0px;">
                        <div class="container-fluid">
                            <div id="TableServico"></div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div style="text-align:right">
                            <button id="@SistemaBarbearia.Helper.SelectFunctions.getInputId("Fechar", Prefix)" onclick="FecharModalProduto()" type="button" class="btn btn-outline-dark"><i class="fa fa-times"></i> Fechar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="@SistemaBarbearia.Helper.SelectFunctions.getInputId("ModalCreate", Prefix)" class="modal fade" role="dialog">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-body no-padding">
                <div class="panel panel-primary" style="margin-bottom: -1px;">
                    <div class="panel-heading" style="height: 41px; padding-left:2px;font-weight: bold;">
                        <h3 class="panel-title pull-right"><button type="button" style="opacity: inherit;color: #fff;" class="close" data-dismiss="modal">&times;</button></h3>
                        <ul class="nav panel-tabs" style="width:400px">
                            <li class="active"><a data-event="true" style="margin-top:1px;color: black;" data-toggle="tab"><b><i class="fa fa-list-alt" aria-hidden="true"></i> Produtos </b></a></li>
                        </ul>
                    </div>
                    <div id="body" class="modal-body" style="padding: 33px 0px 0px 0px;">
                        <div class="container-fluid">

                            <div class="form-row isEdit">
                                <div class="@Helper.Input2">
                                    @Html.Label("IdServico", "Código")
                                    @Html.TextBox("IdServico", null, new { @class = "form-control", disabled = true })
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="@Helper.Input8">
                                    @Html.Label("dsServico", "Serviço", new { @class = "required" })
                                    @Html.TextBox("dsServico", null, new { @class = "form-control col-md-12", maxlength = "50", style = "text-transform:uppercase" })
                                    @Html.ValidationMessage("dsServico", null, new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="@Helper.Input4">
                                    @Html.Label("vlServico", "Valor Serviço", new { @class = "required" })
                                    @Html.TextBox("vlServico", null, new { @class = "form-control col-md-12", maxlength = "50" })
                                    @Html.ValidationMessage("vlServico", null, new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="@Helper.Input4">
                                    @Html.Label("flSituacao", "Situação", new { @class = "required" })
                                    @Html.DropDownList("flSituacao", SistemaBarbearia.ViewModels.Servicos.ServicoVM.Situacao, new { @class = "form-control" })
                                    @Html.ValidationMessage("flSituacao", null, new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <div style="text-align:right">
                            <button id="@SistemaBarbearia.Helper.SelectFunctions.getInputId("btnSave", Prefix)" type="button" class="btn btn-success"><i class="fa fa-save"></i>  Salvar</button>
                            <button id="@SistemaBarbearia.Helper.SelectFunctions.getInputId("FecharCreate", Prefix)" onclick="FecharModalCreateProduto()" type="button" class="btn btn-danger"><i class="fa fa-ban"></i>  Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/Scripts/bootstrap-notify.js")
@Html.AddScriptBlock(
@<script type="text/javascript">

    self = this;
    $(function () {
         $("#@SistemaBarbearia.Helper.SelectFunctions.getInputId("btn-localizar", Prefix)").on("click", function () {
             InitModalServico();
         });

         $('#@SistemaBarbearia.Helper.SelectFunctions.getInputId("btnSave", Prefix)').on('click', function () {
                self.saveServico();
         });

         $('#@SistemaBarbearia.Helper.SelectFunctions.getInputId("IdServico", Prefix)').change(function (data, e) {
             var IdServico = $('#@SistemaBarbearia.Helper.SelectFunctions.getInputId("IdServico", Prefix)').val();
             if (IdServico == "") {
                 $("#@SistemaBarbearia.Helper.SelectFunctions.getInputId("IdServico", Prefix)").val("");
                 $("#@SistemaBarbearia.Helper.SelectFunctions.getInputId("dsServico", Prefix)").val("");
                 $("#@SistemaBarbearia.Helper.SelectFunctions.getInputId("vlVenda", Prefix)").val("");
             } else {
                 $.ajax({
                     dataType: 'json',
                     type: 'GET',
                     url: '@Url.Action("JsDetails", "Servico")',
                     data: { 'IdServico': IdServico},
                     success: function (data) {
                         if (!data) {
                             $.notify({ message: 'Nenhum registro encontrado para o código informado', icon: 'fa fa-exclamation' }, { type: 'danger' } );
                         }
                         $("#@SistemaBarbearia.Helper.SelectFunctions.getInputId("IdServico", Prefix)").val(data.IdServico);
                         $("#@SistemaBarbearia.Helper.SelectFunctions.getInputId("dsServico", Prefix)").val(data.dsServico);
                     },
                     error: function (err) {
                         alert(err);
                         alert("Erro ao buscar registro");
                     }
                 });
             }
         });

     });

    this.getFormServico = function() {
        var form = {
                IdServico : $('#@SistemaBarbearia.Helper.SelectFunctions.getInputId("IdServico", Prefix)'),
                dsServico: $('#@SistemaBarbearia.Helper.SelectFunctions.getInputId("dsServico", Prefix)'),
        }
        return form;
    };

    this.clearServico = function () {
        var form = self.getFormServico();
      
        form.dsServico.val("");
        form.dsServico.focus();
    };

    this.isValid = function () {
        var valid = true;
        var form = self.getFormServico();

        if (IsNullOrEmpty(form.dsServico.val())) {
            form.dsServico.blink({ msg: "Campo produto é obrigatório" });
            form.dsServico.focus();
            valid = false;
        }
        return valid;
    };

    getModelServico = function (form) {
        var model = {
            IdServico: form.IdServico.val(),
            dsServico: form.dsServico.val(),
        }
        return model;
    };

    this.saveServico = function () {
        if ($('#@SistemaBarbearia.Helper.SelectFunctions.getInputId("isEdit", Prefix)').val() == "S") {
            this.updateServico();
        } else {
            this.insertServico();
        }
    }

    this.insertServico = function () {
        var form = self.getFormServico();
        var model = getModelServico(form);

        if (self.isValid(model)) {

            $.ajax({
                dataType: 'json',
                type: 'POST',
                url: '@Url.Action("jsInsert", "Servico")',
                data: model,
                success: function (data) {
                    self.clearServico();
                    InitModalServico();
                    $("#@SistemaBarbearia.Helper.SelectFunctions.getInputId("ModalCreate", Prefix)").modal("hide");
                    $("#@SistemaBarbearia.Helper.SelectFunctions.getInputId("ModalLista", Prefix)").css("overflow", "auto");
                    $.notify({ message: data.message, icon: 'fa fa-exclamation' }, { type: 'success', z_index: 2000 });
                },
                error: function (request) {
                    alert("Erro ao adicionar registro")
                }
            });
        }
    };

    this.updateServico = function () {
        var form = self.getFormServico();
        var model = getModelServico(form);

        if (self.isValid(model)) {

            $.ajax({
                dataType: 'json',
                type: 'POST',
                url: '@Url.Action("jsUpdate", "Servico")',
                data: model,
                success: function (data) {
                    console.log(data)
                    self.clearServico();
                    InitModalServico();
                    $("#@SistemaBarbearia.Helper.SelectFunctions.getInputId("ModalCreate", Prefix)").modal("hide");
                    $("#@SistemaBarbearia.Helper.SelectFunctions.getInputId("ModalLista", Prefix)").css("overflow", "auto");
                    $.notify({ message: data.message, icon: 'fa fa-exclamation' }, { type: 'success', z_index: 2000 });
                },
            });
        }
    };

    function InitModalServico() {
          $("#TableServico").empty();
          let table = null
          let lis = getTableServico();
          $("#TableServico").append(lis);

          table = $('#@SistemaBarbearia.Helper.SelectFunctions.getInputId("listaServico", Prefix)').DataTable({
            ajax: { url: $('#@SistemaBarbearia.Helper.SelectFunctions.getInputId("listaServico", Prefix)').attr('data-url') },
                language: {
                    url: 'https://cdn.datatables.net/plug-ins/1.10.24/i18n/Portuguese-Brasil.json',
            },
            columns: [
                { data: "IdServico" },
                { data: "dsServico" },
                {
                    sClass: "right",
                    data: null,
                    mRender: function (data) {
                        return data.vlServico.toLocaleString('pt-br', { currency: 'BRL', minimumFractionDigits: 2, maximumFractionDigits: 2 });
                    }
                },
                 {
                    sortable: false,
                    data: null,
                    sClass: 'details-control center',
                    mRender: function (data) {
                        return '<a class="btn btn-primary btn-sm" data-evet="item" title="Selecionar registro"><i class="fa fa-check"></i> </a>';
                    }
                },
                {
                    sortable: false,
                    data: null,
                    mRender: function (data) {
                        return '<a class="btn btn-warning btn-sm" onclick="OpenEditServico(' + data.IdServico + ')" title="Alterar registro"><i class="fa fa-edit"></i> </a>';
                    }
                },
            ],
        });


        $("#@SistemaBarbearia.Helper.SelectFunctions.getInputId("ModalLista", Prefix)").modal("show");

         $('#@SistemaBarbearia.Helper.SelectFunctions.getInputId("listaServico", Prefix) tbody').on('click', 'td.details-control', function  () {
            var tr = $(this).closest('tr');
            var row = table.row(tr);
            if (row.child.isShown()) {
                $('div.slider', row.child()).slideUp(function () {
                    row.child.hide();
                    tr.removeClass('shown');
                });
            }
            else {
                row.child(SelectServico(row.data())).show();
                tr.addClass('shown');
                $('div.slider', row.child()).slideDown();
            }
        });
    }

    function getTableServico() {
        let tmp = `<table id="@SistemaBarbearia.Helper.SelectFunctions.getInputId("listaServico", Prefix)" class="table table-striped table-bordered" style="width:100%" data-url="@Url.Action("JsQuery", "Servico")">
                        <thead class="table-dark">
                            <tr>
                                <th export="true" style="width:10%">Código</th>
                                <th export="true" style="width:50%">Serviços</th>
                                <th export="true" style="width:20%">Valor Serviço</th>
                                <th export="true" style="width:10%">Selecionar</th>
                                <th export="true" style="width:10%">Alterar</th>
                            </tr>
                        </thead>
                   </table>`;
          return tmp;
    };

    function FecharModalProduto() {
        $("#@SistemaBarbearia.Helper.SelectFunctions.getInputId("ModalLista", Prefix)").modal("hide");
    };

    function FecharModalCreateProduto() {
        $("#@SistemaBarbearia.Helper.SelectFunctions.getInputId("ModalCreate", Prefix)").css("overflow", "hidden");
        $("#@SistemaBarbearia.Helper.SelectFunctions.getInputId("ModalCreate", Prefix)").modal("hide");
        $("#@SistemaBarbearia.Helper.SelectFunctions.getInputId("ModalLista", Prefix)").css("overflow", "auto");
        
    };

    function OpenModalCreateProduto() {
        $("#@SistemaBarbearia.Helper.SelectFunctions.getInputId("btnUpdate", Prefix)").hide();
        $("#@SistemaBarbearia.Helper.SelectFunctions.getInputId("ModalLista", Prefix)").css("overflow", "hidden");
        $("#@SistemaBarbearia.Helper.SelectFunctions.getInputId("ModalCreate", Prefix)").css("overflow", "auto");
        $("#@SistemaBarbearia.Helper.SelectFunctions.getInputId("ModalCreate", Prefix)").modal("show");
        $("#@SistemaBarbearia.Helper.SelectFunctions.getInputId("isEdit", Prefix)").val("N");
        if ($("#@SistemaBarbearia.Helper.SelectFunctions.getInputId("isEdit", Prefix)").val() == "N") {
            $(".isEdit").hide();
        }

    };

    function loadServico(data) {
         $(document).trigger('@SistemaBarbearia.Helper.SelectFunctions.getInputId(Prefix, "AfterLoad")', data);
     };

    function SelectServico(data) {
        loadServico(data);
        $("#@SistemaBarbearia.Helper.SelectFunctions.getInputId("ModalLista", Prefix)").modal("hide");
        $("#@SistemaBarbearia.Helper.SelectFunctions.getInputId("IdServico", Prefix)").val(data.IdServico);
        $("#@SistemaBarbearia.Helper.SelectFunctions.getInputId("dsServico", Prefix)").val(data.dsServico);
        let valor = data.vlServico;
        if (data) {
            valor = valor.toLocaleString('pt-br', { currency: 'BRL', minimumFractionDigits: 2, maximumFractionDigits: 2 });
        }
           $("#@SistemaBarbearia.Helper.SelectFunctions.getInputId("vlServico", Prefix)").val(valor);
        return false;
    };

    function OpenEditServico(IdServico) {
        $.ajax({
            dataType: 'json',
            type: 'GET',
            url: '@Url.Action("JsDetails", "Servico")',
            data: { 'IdServico': IdServico },
            success: function (data) {
            /*    self.clearServico();*/
                $("#@SistemaBarbearia.Helper.SelectFunctions.getInputId("ModalCreate", Prefix)").modal("show");
                $("#@SistemaBarbearia.Helper.SelectFunctions.getInputId("isEdit", Prefix)").val("S");
                if ($("#@SistemaBarbearia.Helper.SelectFunctions.getInputId("isEdit", Prefix)").val() == "S") {
                    $(".isEdit").show();
                }
                $("#@SistemaBarbearia.Helper.SelectFunctions.getInputId("IdServico", Prefix)").val(data.IdServico);
                $("#@SistemaBarbearia.Helper.SelectFunctions.getInputId("dsServico", Prefix)").val(data.dsServico);
                $("#@SistemaBarbearia.Helper.SelectFunctions.getInputId("ModalLista", Prefix)").css("overflow", "auto");
            },
            error: function (request) {
                alert("Erro ao buscar registro");
            }
        });
        return false;
    }

</script>
)


