@model SistemaBarbearia.ViewModels.Categorias.CategoriaVM

<div>
    <h4>CategoriaVM</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.dsCategoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dsCategoria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dtCadastro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dtCadastro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dtUltAlteracao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dtUltAlteracao)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
